#headingforbody {
  font-size:22px
}

#scrollingthing {
  background-color: white;
  height: 285px;
  max-width: 1625px;
}


#body1{
max-width: 1350px;
background-color: white;
height:400px;
}


#sidead {
  height: 450px;
  width: 253px;
  margin-left: 1530px;
  margin-top: -425px;
}

#itemsinbody {

  display:block;

  width: 152px;
  height: 152px;

 margin-top:75px
}

#text {
  font-size: 14px;
  margin-top: 15px;
  text-align: bottom;
  margin-left: -15px;
  
}
#text2 {

  font-size: 14px;
  font-weight: bold;
  text-align: bottom;
  margin-top: -20px;
  margin-left: -10px;
}
#text3 {
  font-size: 14px;
  margin-top: 30px;
  text-align: bottom;
  margin-left: 8px;
}
#text4 {
  margin-top: -2px;
  font-size: 14px;
  font-weight: bold;
  text-align: bottom;
  
}
#text5 {
  font-size: 14px;
  margin-top: 20px;
  text-align: bottom;
  margin-left: 24px;
}
#text6 {
  margin-top: -2px;
  font-size: 14px;
  font-weight: bold;
  text-align: bottom;
  margin-left: 14px;
}

